.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: slateblue;
    width: 600px;
    height: 350px;
    box-sizing: border-box;
    color: white;
    padding: 10px;
}

.btn{
    display: none;
}

.tabs{
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.tabs:hover{
    background: cornflowerblue;
}

.content .content_a, .content .content_b, .content .content_c{
    padding: 50px;
    display: none;
}

#btn_a:checked ~ .content .content_a, #btn_b:checked ~ .content .content_b, #btn_c:checked ~ .content .content_c{
    display: block;
}