@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background: #f2f2f2; 
}

.textbox{
    width: 40%;
    height: 55%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 8px #d0d0d0; 
    border-radius: 20px;
    padding: 80px 40px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}

.title{
    text-align: center;
}

.description{
    margin: 20px 0;
}